@using WholeSaleApp.Client.Components.Common.NavBar.SubNavComponent
@using WholeSaleApp.Client.Helpers
<div>
    <MudContainer Style="box-shadow: 30px 6px 29px -22px rgba(0,0,0,0.2);">
        <MudDrawer @bind-Open="@open" Elevation="1" Variant="@DrawerVariant.Mini" OpenMiniOnHover="false" Style="max-width: 56px; overflow:visible">
            <MudNavMenu Style="white-space: nowrap; z-index: 5">
                @foreach (var menuItemDto in MenuItems.Where(x => x.HierarchyId.GetLevel() == 1))
                {
                    <div>
                        <MudContainer Class="hoverable">
                            <MudIcon Icon="@TypeHelper.GetConstantValue(menuItemDto.Icon)" Style=""></MudIcon>
                            @if (MenuItems.Any(x => x.HierarchyId.IsDescendantOf(menuItemDto.HierarchyId) && x.Id != menuItemDto.Id))
                            {
                                <MudContainer Class="sub">
                                    <SubNavComponent MenuItems="@MenuItemHelper.ConvertToTreeView(MenuItems.Where(x => x.HierarchyId.IsDescendantOf(menuItemDto.HierarchyId) && x.Id != menuItemDto.Id).ToList())">
                                    </SubNavComponent>
                                </MudContainer>
                            }
                            @if(menuItemDto.Path != "")
                            {
                            <MudNavLink Class="RootMenuItemWithLink" Href="@menuItemDto.Path"></MudNavLink>
                            }
                        </MudContainer>
                    </div>
                }
            </MudNavMenu>
        </MudDrawer>
    </MudContainer>
</div>