@page "/SalesInvoices/{Id:int}"
@page "/SalesInvoices/New"
@using WholeSaleApp.Client.Components.Modules.CrudComponentBase
@using WholeSaleApp.Shared.DTOs.CodeBook
@using Microsoft.AspNetCore.Components
@using WholeSaleApp.Client.Components.Common.LookUp.LookUpComponent
@using WholeSaleApp.Shared.DTOs.DTO_Classes.RequestDtos.CodeBook
@using WholeSaleApp.Shared.DTOs.DTO_Classes.ResponseDtos.Documents.SalesInvoice
@using WholeSaleApp.Client.Components.Common.InputValidationLabel


@inherits CrudComponentBase<WholeSaleApp.Shared.DTOs.DTO_Classes.ResponseDtos.Documents.SalesInvoice.SalesInvoiceDto>

<div>
    <MudPaper Class="pa-4 m-4">
        <MudForm Model="SalesInvoiceDto" @ref="salesInvoiceInputForm" Validation="@(salesInvoiceDtoValidator.ValidateValue)" ValidationDelay="0">
            <MudTextField Style="max-width: 300px" @bind-Text="SalesInvoiceDto.Code" T="string" Label="Broj računa" Required="true" RequiredError="Broj računa je obavezno polje!" />
            <MudDatePicker Style="max-width: 300px" @bind-Date="SalesInvoiceDto.Date" Label="Datum računa" Required="true" RequiredError="Datum računa je obavezno polje!" />

            <div class="flex-container">
                <div class="flex-item">
                    <MudPaper Elevation="0">
                        <LookUpComponent Immediate="true" For="() => SalesInvoiceDto.Partner" Style="width: 300px" LookUpComponentTitle="Partner" DialogTitle="Izaberite partnera" TResponseDto="PartnerDto" TRequestDto="PartnerAddDto" SelectedItem="dto => { SalesInvoiceDto.PartnerOffice = null; SalesInvoiceDto.Partner = dto;  }">
                            <MudField Style="padding: 5px" Label="Naziv partnera">@SalesInvoiceDto?.Partner?.Name</MudField>
                        </LookUpComponent>
                    </MudPaper>
                </div>
                @if (SalesInvoiceDto?.Partner?.PartnerOffices.Any() == true)
                {
                    <div class="flex-item">
                        <MudPaper Elevation="0">
                            <LookUpComponent Immediate="true" For="() => SalesInvoiceDto.PartnerOffice" Items="SalesInvoiceDto.Partner.PartnerOffices" Style="width: 300px" LookUpComponentTitle="Poslovnica" DialogTitle="Izaberite poslovnicu" TResponseDto="PartnerOfficeDto" TRequestDto="PartnerOfficeAddDto" SelectedItem="dto => SalesInvoiceDto.PartnerOffice = dto">
                                <MudField Style="padding: 5px" Label="Naziv poslovnice">@SalesInvoiceDto?.PartnerOffice?.Name</MudField>
                            </LookUpComponent>
                        </MudPaper>
                    </div>
                }
            </div>

            <LookUpComponent Immediate="true" For="() => SalesInvoiceDto.Warehouse" Style="max-width: 300px" LookUpComponentTitle="Magacin" DialogTitle="Izaberite magacin" TResponseDto="WarehouseDto" TRequestDto="WarehouseAddDto" SelectedItem="dto => SalesInvoiceDto.Warehouse = dto">
                <MudField Style="padding: 5px" Label="Naziv magacina">@SalesInvoiceDto?.Warehouse?.Name</MudField>
            </LookUpComponent>

            <MudTextField Style="max-width: 650px" For="() => SalesInvoiceDto.Note" @bind-Text="SalesInvoiceDto.Note" T="string" Label="Napomena" />
            <MudDataGrid @ref="_dataGrid"
                         MultiSelection="true"
                         ReadOnly="false"
                         Hover="true"
                         Class="mt-5 p-0" T="SalesInvoiceItemDto"
                         Items="@SalesInvoiceDto.SalesInvoiceItems"
                         Elevation="7"
                         EditMode="DataGridEditMode.Cell"
                         Dense="true"
                         ColumnResizeMode="ResizeMode.Column">
                <ToolBarContent>
                    <MudText Typo="Typo.h6" Class="p-0">Stavke</MudText>
                    <MudToolBar Class="p-0">
                        <MudTooltip Text="Novi unos">
                            <MudIconButton Icon="@Icons.Material.Outlined.Add" OnClick="AddSalesInvoiceItem" />
                        </MudTooltip>
                        <MudTooltip Text="Briši">
                            <MudIconButton Icon="@Icons.Material.Outlined.Remove" OnClick="DeleteSelectedSalesInvoiceItems" />
                        </MudTooltip>
                    </MudToolBar>
                    <InputValidationLabel Immediate="true" T="List<SalesInvoiceItemDto>" For="() => SalesInvoiceDto.SalesInvoiceItems"></InputValidationLabel>
                </ToolBarContent>

                <Columns>
                    <PropertyColumn Title="Rbr" T="SalesInvoiceItemDto" TProperty="int" Property="x => x.OrdinalNumber">
                        <EditTemplate>
                            <MudForm Model="@context.Item">
                                <MudNumericField T="int" Immediate="true" @bind-Value="context.Item.OrdinalNumber" HideSpinButtons="true" />
                            </MudForm>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Title="Roba" T="SalesInvoiceItemDto" TProperty="GoodDto" Property="x => x.Good">
                        <EditTemplate>
                            <MudForm Model="@context.Item">
                                <LookUpComponent For="() => context.Item.Good" Validation="@(salesInvoiceItemDtoValidator.ValidateValue)" Style="background: transparent" Mini="true" TRequestDto="GoodAddDto" TResponseDto="GoodDto" SelectedItem="(x) => {context.Item.Good = x;}">
                                    <MudField Style="padding: 5px; background: transparent">@context.Item.Good?.Name</MudField>
                                </LookUpComponent>
                            </MudForm>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn T="SalesInvoiceItemDto" TProperty="string" Property="x => x.Good == null ? null : x.Good.UnitOfMeasure.ShortName" IsEditable="false" Title="JM" />
                    <PropertyColumn Title="Količina" T="SalesInvoiceItemDto" TProperty="decimal" Property="x => x.Quantity">
                        <EditTemplate>
                            <MudForm Model="@context.Item">
                                <MudNumericField For="() => context.Item.Quantity" T="decimal" Validation="@(salesInvoiceItemDtoValidator.ValidateValue)" Immediate="true" @bind-Value="context.Item.Quantity" HideSpinButtons="true" />
                            </MudForm>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn Title="Cena" T="SalesInvoiceItemDto" TProperty="decimal" Property="x => x.Price">
                        <EditTemplate>
                            <MudForm Model="@context.Item">
                                <MudNumericField T="decimal" For="() => context.Item.Price" Validation="@(salesInvoiceItemDtoValidator.ValidateValue)" Immediate="true" @bind-Value="context.Item.Price" HideSpinButtons="true" />
                            </MudForm>
                        </EditTemplate>
                    </PropertyColumn>
                    <PropertyColumn T="SalesInvoiceItemDto" TProperty="decimal" Property="x => x.Price * x.Quantity" IsEditable="false" Title="Vrednost" />
                    <PropertyColumn T="SalesInvoiceItemDto" TProperty="decimal" Property="x => x.Good == null ? 0 : x.Good.VatType.Vats.OrderByDescending(x => x.StartDate).First(x => SalesInvoiceDto.Date >= x.StartDate).Value" Title="Procenat poreza" IsEditable="false" />
                    <PropertyColumn T="SalesInvoiceItemDto" TProperty="decimal" Property="x => x.Good == null ? 0 : x.Price * x.Quantity * (1 + x.Good.VatType.Vats.OrderByDescending(x => x.StartDate).First(x => SalesInvoiceDto.Date >= x.StartDate).Value / 100)" IsEditable="false" Title="Ukupna vrednost sa porezom" />
                </Columns>
            </MudDataGrid>
        </MudForm>
        <MudButton Variant="Variant.Filled" Color="Color.Primary" Class="ml-auto mt-3" OnClick="Save">Sačuvaj</MudButton>
    </MudPaper>



</div>