@inherits MudComponentBase
<div >
    <MudTreeView T="string" >
        <MudNavLink Href="/Locations" Icon="@Icons.Material.Filled.LocationCity">Mesto</MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.Business">Partner</MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.Warehouse">Magacin</MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.Edit">Jedinica mere </MudNavLink>
        <MudNavLink Icon="@Icons.Material.Filled.Inventory">Roba</MudNavLink>
    </MudTreeView>
</div>