@using WholeSaleApp.Client.Helpers
@inherits MudComponentBase
@if (Parent.Children.Count > 0)
{
    <div>
        @if (Parent.Children != null && Parent.Children.Count > 0)
        {
            <MudCardHeader Class="justify-content-around" >
                <MudText Typo="Typo.h6">@Parent.Item.Caption</MudText>
            </MudCardHeader>
            <MudTreeView Items="Parent.Children" Hover="false" ExpandOnClick="true">
                <ItemTemplate>
                    <MudTreeViewItem Items="@context.Children" Value="@context" @bind-Expanded="@context.IsExpanded">
                        <Content>
                            <MudTreeViewItemToggleButton @bind-Expanded="@context.IsExpanded" Visible="@context.HasChild" />
                            @if (!@context.HasChild)
                            {
                                <MudNavLink Icon="@TypeHelper.GetConstantValue(context.Item.Icon)" Href="@context.Item.Path">@context.Item.Caption</MudNavLink>
                            }
                            else
                            {
                                <MudNavLink Icon="@TypeHelper.GetConstantValue(context.Item.Icon)" ActiveClass="">@context.Item.Caption</MudNavLink>
                            }
                        </Content>
                    </MudTreeViewItem>
                </ItemTemplate>
            </MudTreeView>
        }
    </div>
}
